@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #dfe9f2;
    font-family: "Open Sans", sans-serif;
}


/* Style Header  */

header {
    display: flex;
    justify-content: center;
    background-color: #243143;
    color: #b3c4d4;
}

header .container {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 950px;
    font-size: 15px;
}

header .logo {
    margin: 1rem;
}

header .logo span{
    text-transform: uppercase;
}

header .nav-links {
    list-style: none;
    display: flex;
    
}

header li {
    margin: 1rem;
}

header a {
    text-decoration: none;
    color: #b3c4d4;
}


/*------------- Style Navbar  -------------*/

nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

nav .categories-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.75em;
}

nav .categories-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 950px;
}

nav li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 14px;
}


/* ---------Style Hero Banner ------------- */

.hero-container {
    background-color: #F7F9FB;
    /* border: 1px solid black;; */
    width: auto;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-hero {
color: white;
display: flex;
justify-content: center;
}

.h4-hero {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}


input {
    width: 40em;
    height: 2.5em;
    border: 0;
    outline: none;
    padding-left: 10px;
    background: #fff;
    border: 1px solid lightgrey;
}

button {
    width: 10em;
    height: 2.5em;
    background-color: #66BB6A;
    border: 0;
    color: white;
    font-weight: bold;
}


/* Sort by  */

.sort-and-results {
    display: flex;
    background-color: #FFFFFF;
}

#sorting, #results {
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
}

.div-sort, .div-results {
    margin: 5px;
}

.h5-sort, .h5-results {
    font-weight: 150;
    font-size: 12px;
}

/* Container card */

.products {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    width: auto;
    /* border: 3px solid green; */
}

.product-inside {
    display: flex;
    width: 1500px;
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
}

.card-product {
   width: 320px;
   height: 240px;
   border-radius: 5px;
   box-shadow: 0 0 5px grey;
   background: #fff;
   margin: 10px;
}

.img-product {
    background: url("/images/hand-watch.png") center/cover;
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0 0;
}

.title-product, .price-product {
    margin: 0 20px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.price-product {
    font-size: 20px;
    font-weight: 900;
}


/* Results per page and showing results  */

.showing-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 1500px; */
    border: 3px solid red;

}

.page {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}


/* ----------Over footer ------------- */

.over-footer {
    display: flex;
    justify-content: center;
    background-color: #243143;
    height: 3.5rem;
}

.over-footer-content {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}

.h4-over-footer {
    color: #B3C4D4;
}

.btn-over-footer {
    width: 200px;
}


/* -----Footer----- */

footer {
    display: flex;
    justify-content: center;
}

footer .ul-footer {
    list-style: none;
}

footer a {
    text-decoration: none;
}

footer .row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
     
}

.li-footer a {
    color: black;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}
