@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Rubik+Spray+Paint&display=swap');




/* ---------Style Hero Banner ------------- */

.hero-container {
    background-image: url(/images/hero-banner-hand-watch.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    width: 10em;
    height: 2.5em;
    background-color: #66BB6A;
    border: 0;
    color: white;
    font-weight: bold;
    display: none;
}

.hero-container:hover button{
    display: block;
}




