@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Rubik+Spray+Paint&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --desaturatedBlue: #243142;
    --customGray: #b3c4d4;
    --customWhite: #e9eaeb;
    --customGreen: #66bb6a;
}

body {
    background-color: #dfe9f2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    color: #b3c4d4;
    background-color: #243143;
}

header .container {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 1000px;
    font-size: 14px;
    font-weight: 300;
}

header .logo {
    margin: 16px;
}

header .logo span{
    text-transform: uppercase;
}

header .nav-links {
    list-style: none;
    display: flex;
    
}

header li {
    margin: 16px;
}

header a {
    text-decoration: none;
    color: #b3c4d4;
}


/* Navbar  */

nav {
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

nav .categories-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

nav .categories-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 1000px;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--desaturatedBlue);
    font-size: 13px;
    margin: 16px;
}

a:hover {
    color: #7AC47E;
}

/* Container Product  */
.container-product {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
/* Cart Items Details  */

.small-container {
    width: 1000px;
}

.cart-page {
    margin: 80x auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #FFFFFF;
    background-color: var(--desaturatedBlue);
    font-weight: 400;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color:var(--desaturatedBlue);
    font-size: 13px;
}

.img-product-cart {
    width: 80px;
    height: 80px;
    margin: 10px
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid var(--desaturatedBlue);
    max-width: 400px;
    
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}
/* Banner Top Footer */

.banner-top-footer {
    display: flex;
    justify-content: center;
    background-color: var(--desaturatedBlue);
    height: 55px;
}

.banner-top-footer-content {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}

.h4-banner-top-footer {
    color: var(--customWhite);
    font-weight: 300;
}

.btn-banner-top-footer {
    width: 200px;
    height: 35px;
    font-weight: 700;
    font-size: 12px;
    border: 0;
    text-transform: uppercase;
    background-color: var(--customGreen);
    color: #FFFFFF;
    letter-spacing: 0.5px;

}

input[type="number"] {
    width: 50px;
}

/* -----Footer----- */

footer {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

footer .ul-footer {
    list-style: none;
}

footer a {
    text-decoration: none;
    font-size: 12px;
}

.title-columns {
    color: var(--customGray);
    text-transform: uppercase;
    font-size: 12px;
}

footer .row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
     
}

.li-footer a {
    color: black;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}
