@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #24252A; */
}


body {
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: #dfe9f2;
}
/* Style for header  */


li, a, .logo {
    font-family: 'Montserrat', sans-serif;  
    color: #B3C4D4;
}
.header-nav {
    border: 1px solid black;
    width: auto;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #243143;
}

.logo {
    margin-left: 10rem;
    cursor: pointer;
    text-transform: uppercase;
}

.logo:hover {
    color: red;
    
}

.cart-register-login {
    margin-right: 10rem;
}

.nav-links {
    list-style: none;
    display: flex;
    
}

li {
    margin: 1rem;
}

a {
    text-decoration: none;
}


/*------------- Style for Navbar  -------------*/


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* border: 1px solid black; */
    height: 3em;
    color: blue;
    background-color: #ffffff;
}

.nav-bar-ul {
    display: flex;
    list-style: none;
}

li {
    color: #243143;
    font-weight: 600;
    /* margin: 3.9em; */
}
/* ---------------------------------- */

.basket {
    display: flex;
    width: auto;
    height: 500px;
    border: 2px solid green;
}

.imgProduct {
  
}

img {
    width: 120px;
    height: 120px;
    background-size: cover;
}



/* -------------------------------------- */

/* -----Footer----- */


.ul-footer {
    list-style: none;
}

.row-footer {
    width: auto;
    display: flex;
    /* border: 10px solid red; */
    justify-content: space-between;
    flex-wrap: wrap;
     
}

.li-footer {
    margin: 1em;
}

.li-footer a {
    color: black;
}

.footer-col h4 {
    margin-left: 15px;
    text-transform: uppercase;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}