@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Rubik+Spray+Paint&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --desaturatedBlue: #243142;
    --customGray: #b3c4d4;
    --customWhite: #e9eaeb;
    --customGreen: #66bb6a;
    --customYellow: #FBC02D;
}

body {
    background-color: #dfe9f2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    color: #b3c4d4;
    background-color: #243143;
}

header .container {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    font-size: 14px;
    font-weight: 300;
}

header .logo {
    margin: 16px;
}

header .logo span {
    text-transform: uppercase;
}

header .nav-links {
    list-style: none;
    display: flex;
}

header li {
    margin: 16px;
}

header a {
    text-decoration: none;
    color: #b3c4d4;
}

/* Navbar  */

nav {
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

nav .categories-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

nav .categories-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 1000px;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--desaturatedBlue);
    font-size: 13px;
    margin: 16px;
}

a:hover {
    color: #7ac47e;
}

/* ---------Hero Banner With SearchBar ------------- */

.hero-container {
    background-image: url(/images/hero-banner-hand-watch.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 28.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-hero {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

.h4-hero {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

input {
    width: 40em;
    height: 2.5em;
    border: 0;
    outline: none;
    padding-left: 10px;
}

button {
    width: 10em;
    height: 2.5em;
    background-color: #66bb6a;
    border: 0;
    color: white;
    font-weight: bold;
}

/* Section Wrapper One */

.section-wrapper {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
}

.section-wrapper h2 {
    margin-top: 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.section-wrapper h3 {
    font-weight: 200;
    color: var(--customGray);
    font-size: 15px;
}

.arrows-section {
    font-size: 30px;
    color: #b3c4d4;
    margin: 15px;
}

/* Section One */

.section-one {
    width: auto;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.section-one .card {
    background: white;
    width: 210px;
    height: 400px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px lightgrey;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.section-one .card-large {
    width: 420px;
}

.section-one .card img {
    background-color: aqua;
    height: 250px;
    width: 100%;
    background-size: cover;
    border-radius: 4px;
    object-fit: cover;
}

.section-one .card .container {
    padding: 25px;
    height: calc(400px - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-one .card p {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.section-one .card .button-wrapper {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 160px;
}

.section-one .card a {
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Two  */

.section-two {
    height: 280px;
    background-image: url("/images/hero-banner-hand-watch.jpg");
    background-size: cover;
    background-position: center;
}

.section-two .mask-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 50px;
}

.section-two p {
    color: white;
    font-size: 24px;
}

.section-two a {
    border: 1px solid var(--customYellow);
    padding: 8px 24px;
    color: var(--customWhite);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

/* ------Section three -----  */

.section-three {
    width: auto;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.section-three .card {
    background: white;
    width: 210px;
    height: 400px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px lightgrey;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.section-three .card-large {
    width: 420px;
}

.section-three .card img {
    background-color: aqua;
    height: 150px;
    width: 100%;
    background-size: cover;
    border-radius: 4px;
    object-fit: cover;
}

.section-three .card .container {
    padding: 25px;
    height: calc(400px - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-three .paragraphs-container {

}

.section-three .card p:first-of-type {
    margin: 0;
    text-align: center;
}

.section-three .card p:first-of-type {
    text-transform: uppercase;
    font-weight: 700;
}

.section-three .card .button-wrapper {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 160px;
}

.section-three .card a {
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------Section four ------  */

.grid h5,
p {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* font-size: 2em; */
}

.h5-grid {
    margin-top: 50px;
}
.section-four {
    width: auto;
    height: 35rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
}

.show-watches {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(4, 200px);
    margin: 30px;
    /* border: 5px solid black; */
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 40px 50px;
    background-color: #f6f9fb;
}

.container-img {
    background-image: url(../images/hand-watch.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgrey;
}

/* Banner Top Footer */

.banner-top-footer {
    display: flex;
    justify-content: center;
    background-color: var(--desaturatedBlue);
    height: 55px;
}

.banner-top-footer-content {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}

.h4-banner-top-footer {
    color: var(--customWhite);
    font-weight: 300;
}

.btn-banner-top-footer {
    width: 200px;
    height: 35px;
    font-weight: 700;
    font-size: 12px;
    border: 0;
    text-transform: uppercase;
    background-color: var(--customGreen);
    color: #ffffff;
    letter-spacing: 0.5px;
}

/* -----Footer----- */

footer {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

footer .ul-footer {
    list-style: none;
}

footer a {
    text-decoration: none;
    font-size: 12px;
}

.title-columns {
    color: var(--customGray);
    text-transform: uppercase;
    font-size: 12px;
}

footer .row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
}

.li-footer a {
    color: black;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1100px) {
    .card {
        height: 350px;
    }

    .card img {
        height: 200px;
    }
}
