@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --desaturatedBlue:#243142;
    --customGray:#B3C4D4;
    --customWhite: #E9EAEB;
    --customGreen: #66BB6A;
}

body {
    background-color: #dfe9f2;
}

/* Style Header  */

header {
    display: flex;
    justify-content: center;
    color: #b3c4d4;
    background-color: #243143;
}

header .container {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 950px;
    font-size: 14px;
    font-weight: 300;
}

header .logo {
    margin: 16px;
}

header .logo span{
    text-transform: uppercase;
}

header .nav-links {
    list-style: none;
    display: flex;
    
}

header li {
    margin: 16px;
}

header a {
    text-decoration: none;
    color: #b3c4d4;
}


/* Navbar  */

nav {
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

nav .categories-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

nav .categories-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 950px;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--desaturatedBlue);
    font-size: 13px;
    margin: 16px;
}

a:hover {
    color: #7AC47E;
}

/* ---------Style Hero Banner ------------- */

.hero-container {
    background-image: url(/images/hero-banner-hand-watch.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 28.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.h2-hero {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

.h4-hero {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}


input {
    width: 40em;
    height: 2.5em;
    border: 0;
    outline: none;
    padding-left: 10px;
}

button {
    width: 10em;
    height: 2.5em;
    background-color: #66BB6A;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ---------------Style Section One ---------------- */
.section-wrapper {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
}

.h2-section-title {
    text-transform: uppercase;
    font-weight: 400;
}

.h3-section-title {
    font-weight: 200;
    color:var(--customGray);
    font-size: 15px;
}

.section-wrapper h2 {
    margin-top: 40px;
    font-size: 15px;
}


.section-one {
    width: auto;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.arrows-section {
    font-size: 30px;
    color: #B3C4D4;
    margin: 15px;
}
/* -----Style Cards----- */

.card-large {
    /* border: 4px solid pink; */
    height: 400px;
    width: 420px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    text-align: center;
    margin: 15px
}

.card-normal {
    height: 400px;
    width: 210px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    text-align: center;
    margin: 15px
}

.card-img {
background-image: url('/images/black-watch.png');
}


.car-two {
    background-image: url('/images/watch-for-large-card.png');
}

.card {
    background: white;
    /* border: 1px solid gray; */
    width: 210px;
    height: 400px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgrey; 
}

.card-image {
    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 5px;
}

.car-one {
    background-image: url('../images/black-watch.png');
}

.description-watch {
    margin: 15px;
}


.card a {
    background-color: white;
    padding: 10px 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 25px 20px;
    border: 1px solid gray;
    color: gray;
    font-weight: bold;
    text-decoration: none;
    /* border: 3px solid red; */

}

.button-card-normal {
    width: 168px;
    height: 42px;
    margin-top: 15px;
    border: 1px solid black;
    background-color: white;
}

.button-card-normal a {
    text-decoration: none;
}

.button-card-large {
    margin-top: 35px;
}


/* ----------Section two ------------- */

.section-two {
    width: auto;
    height: 280px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hero-banner.jpg);
    background-size: cover;
    background-position: center;
}

#p-section-two {
    color: white;
}

/* ------Section three ------  */

.grid h5,p {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* font-size: 2em; */
}


.h5-grid {
    margin-top: 50px;
}
.section-three {
    width: auto;
    height: 35rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F9FB;
}



.show-watches {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(4, 200px);
    margin: 30px; 
    /* border: 5px solid black; */
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 40px 50px;
    background-color: #F6F9FB;
}

.container-img {
    background-image: url(../images/hand-watch.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgrey;
}


/* ----------Over footer ------------- */

.over-footer {
    display: flex;
    justify-content: center;
    background-color: #243143;
    height: 3.5rem;
}

.over-footer-content {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}

.h4-over-footer {
    color: #B3C4D4;
}

.btn-over-footer {
    width: 200px;
}

/* -----Footer----- */

footer {
    display: flex;
    justify-content: center;
}

footer .ul-footer {
    list-style: none;
}

footer a {
    text-decoration: none;
}

footer .row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
     
}


.li-footer a {
    color: black;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}