@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 600px;
    width: 900px;
    box-shadow: 0 0 10px grey;
    margin: auto;
    margin-top: 5%
    

}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2 {
    font-size: 2em;
    margin: 40px;
}

.box {
    padding: 12px;
    width: 250px;
    height: 40px;
    margin: 15px;
    border: 0.5px solid grey;
    outline: none;
    border-radius: 5px;
    
}

#submit {
    width: 250px;
    height: 40px;
    margin-top: 40px;
    background-color: #66BB6A;
    color: white;  
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit:hover {
    cursor: pointer;
    background-color: black;
}

.form a{
    text-decoration: none;
    color: #66BB6A;
    font-size: 0.9em;
    margin-top: 20px;
}

.form:hover {
    color: green;
}

/* Right Side  */

.side {
    display: flex;
    justify-content: center;
    /* width: 50%; */
    /* align-items: center */

}

.side img {
    /* width: 450px; */
    /* height: 450px; */
}