@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Rubik+Spray+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --desaturatedBlue:#243142;
    --customGray:#B3C4D4;
    --customWhite: #E9EAEB;
    --customGreen: #66BB6A;
    --customBgLoginBox: #F7F9FB;
}

.container {
   
    display: flex;
    height: 500px;
    width: 900px;
    box-shadow: 0 0 2px grey;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.side {
    background-image: url('/images/hand-watch-login.png');
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 100%;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(36, 49, 66, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 50px;
}

.text h1 {
    font-size: 24px;
}

.text p {
    font-size: 18px;
    font-weight: 300;
}

.side a{
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--customGray);
    border: 1px solid var(--customGray);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.inputs {
    /* border: 1px solid red; */
    padding: 10px;
}

.inputs-right {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--customBgLoginBox);
    /* border: 1px solid red; */
}

.inputs-right img {
    width: 250px;
}

.form p {
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
}

.inputs-field {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.inputs p {
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 5px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box {
    width: 250px;
    height: 35px;
    border: 1px solid var(--customGray);
    padding: 5px;
}

#submit {
    width: 250px;
    height: 35px;
    background-color: var(--customGreen);
    color: white;  
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
}

.form a{
    color: #66BB6A;
    font-size: 13px;
    margin-top: 20px;
}
