@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Rubik+Spray+Paint&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --desaturatedBlue: #243142;
    --customGray: #b3c4d4;
    --customWhite: #e9eaeb;
    --customGreen: #66bb6a;
    --customYellow: #FBC02D;
    --customTableColor: #F7F9FB;
}

body {
    background-color: #dfe9f2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* Header  */

header {
    display: flex;
    justify-content: center;
    color: #b3c4d4;
    background-color: #243143;
}

header .container {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 950px;
    font-size: 14px;
    font-weight: 300;
}

header .logo {
    margin: 16px;
}

header .logo span{
    text-transform: uppercase;
}

header .nav-links {
    list-style: none;
    display: flex;
    
}

header li {
    margin: 16px;
}

header a {
    text-decoration: none;
    color: #b3c4d4;
}


/* Navbar  */

nav {
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

nav .categories-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

nav .categories-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 950px;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--desaturatedBlue);
    font-size: 13px;
    margin: 16px;
}

a:hover {
    color: #7AC47E;
}

.products-filters {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

/* Searchbar */

.search-container {
    background-color: #F7F9FB;
    /* border: 1px solid black; */
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 550px;
    height: 38px;
    border: 0;
    outline: none;
    padding-left: 10px;
    background: #fff;
    border: 1px solid lightgrey;
}

.search-input::placeholder {
color:lightgray;
}

.search-button {
    width: 130px;
    height: 38px;
    margin-left: 3px;
    background-color: #66BB6A;
    border: 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}


/* --------Breadcrumbs navigation ------  */

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    display: flex;
    background-color: #ffffff;
}

ul.breadcrumb li {
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000;
    content: ">";
}

ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}


/* Container Wrapper  */
.container-wrapper {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

/* Details container */
.details-container {
    /* border: 5px solid yellow; */
    width: 1000px;
}

/* Image Preview */
.img-big {
    width: 600px;
    height: 400px;
}

.img-preview-box {
    width: 600px;
}
.img-preview-one, .img-preview-two, .img-preview-three, .img-preview-four {
    width: 100px;
    height: 100px;
    margin: 20px 20px 20px 0;
}


.img-box-data {
    display: flex;
}


/* Price & Info Box */

.price-info {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    box-shadow: 0 0 3px grey;
    /* border: 1px solid grey; */
}

.inner-box {
    width: 100%;
    height: 100%;
    padding: 15px;
    /* border: 2px solid yellow; */
}

.quantity {
    display: flex;
    gap: 5%;
}

.product-price {
    font-weight: 700;
    font-size: 24px;
}

.price-info .product-title {
    font-weight: 400;
    font-size: 25px;
}

.quantity__minus, .quantity__plus {
    text-decoration: none;
}

.quantity__input {
    width: 40px;
    height: 28px;
}

.btn-cart {
    width: 260px;
    height: 35px;
    border: 0;
    background-color: var(--customGreen);
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffff;
}


.product-details, .product-info {
    font-weight: 300;
    font-size: 20px;
}


/* Img preview  */
.Box {
    display: flex;
}

table,th,td {
    border: 1px solid var(--customGray);
    border-collapse: collapse;
    padding: 8px 10px;
    font-size: 14px;
}

td:first-child {
    background-color: var(--customTableColor);
    width: 150px;
}

td:nth-child(2){
    width: 500px;
    text-align: end;
    padding-right: 10px;
}

/* ---------------Style Section One ---------------- */
.section-wrapper {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
}

.h2-section-title {
    text-transform: uppercase;
    font-weight: 400;
}

.h3-section-title {
    font-weight: 200;
    color:var(--customGray);
    font-size: 15px;
}

.section-wrapper h2 {
    margin-top: 40px;
    font-size: 15px;
}

.arrows-section {
    font-size: 30px;
    color: #B3C4D4;
    margin: 15px;
}


/* ------Section three -----  */

.section-three {
    width: auto;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.section-three .card {
    background: white;
    width: 210px;
    height: 350px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px lightgrey;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.section-three .card img {
    background-color: aqua;
    height: 150px;
    width: 100%;
    background-size: cover;
    border-radius: 4px;
    object-fit: cover;
}

.section-three .card .container {
    padding: 25px;
    height: calc(400px - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-three .paragraphs-container {
padding: 0 0 20px;
}

.section-three .card p:first-of-type {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.section-three .card .button-wrapper {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 160px;
}

.section-three .card p {
    text-align: center;
    justify-content: center;
}

.section-three .card a {
    border: 1px solid var(--customGray);
    background-color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three .card .container {
    height: calc(350px - 150px);
}

.section-three .card .button-wrapper {
    /* border: 5px solid yellow; */
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

.section-three .card .button-wrapper a {
    color: var(--customGray);
}

/* Banner Top Footer */

.banner-top-footer {
    display: flex;
    justify-content: center;
    background-color: var(--desaturatedBlue);
    height: 55px;
}

.banner-top-footer-content {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}

.h4-banner-top-footer {
    color: var(--customWhite);
    font-weight: 300;
}

.btn-banner-top-footer {
    width: 200px;
    height: 35px;
    font-weight: 700;
    font-size: 12px;
    border: 0;
    text-transform: uppercase;
    background-color: var(--customGreen);
    color: #FFFFFF;)
    letter-spacing: 0.5px;

}


/* -----Footer----- */

footer {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

footer .ul-footer {
    list-style: none;
}

footer a {
    text-decoration: none;
    font-size: 12px;
}

.title-columns {
    color: var(--customGray);
    text-transform: uppercase;
    font-size: 12px;
}

footer .row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
     
}

.li-footer a {
    color: black;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}