@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #24252A; */
}


body {
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: #dfe9f2;
}


/* Style for header  */


li, a, .logo {
    font-family: 'Montserrat', sans-serif;  
    color: #B3C4D4;
}
.header-nav {
    border: 1px solid black;
    width: auto;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #243143;
}

.logo {
    margin-left: 10rem;
    cursor: pointer;
    text-transform: uppercase;
}

.logo:hover {
    color: red;
    
}

.cart-register-login {
    margin-right: 10rem;
}

.nav-links {
    list-style: none;
    display: flex;
    
}

li {
    margin: 1rem;
}

a {
    text-decoration: none;
}


/*------------- Style for Navbar  -------------*/


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* border: 1px solid black; */
    height: 3em;
    color: blue;
    background-color: #ffffff;
}

.nav-bar-ul {
    display: flex;
    list-style: none;
}

li {
    color: #243143;
    font-weight: 600;
    /* margin: 3.9em; */
}

/* ---------Style Hero Banner ------------- */

.hero-container {
    background-color: #d4c4d4;
    /* border: 1px solid black;; */
    width: auto;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-hero {
color: white;
display: flex;
justify-content: center;
}

.h4-hero {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}


input {
    width: 40em;
    height: 2.5em;
    border: 0;
    outline: none;
    padding-left: 10px;
}

button {
    width: 10em;
    height: 2.5em;
    background-color: #66BB6A;
    border: 0;
    color: white;
    font-weight: bold;
}


/* Sort and results page  */

.sort {
    width: auto;
    height: 4rem;
    /* border: 1px solid blue; */
    background-color: #B3C4D4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.sort input {
    width: 10rem;
    height: 1.5rem;
    margin: 10px;
}


.h5-sort {
    display: flex;
    justify-content: flex-start;
}

/* Product List by DOM Manipulation  */



.products1 {
    background-color: #F4F4F4;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid red; */
    padding: 30px;

    
}


.products1 div {
    margin: 20px auto;
    /* border: 3px solid black; */
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border: 3px solid green;
}

.products1 button {

}

img {
    height: 250px;
}

article {
    /* border: 3px solid blue; */
    margin: 50px 25px auto;
    height: 400px;
    width: 220px;
    box-shadow: 0 0 5px;

}

/* ------Product List --------- */

:root {
    --while-light: rgba(255,255,255,0.5)
    --gray: #ededed;
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;

}

img {
    width: 100%;
    display: block;
}

.container {
    width: 88vw;
    margin: 0 auto;
}

.lg-title, md-title, sm-title {
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.lg-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem, 0;
    opacity: 0.9;
}

.md-title {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.sm-title {
font-weight: 300;
font-size: 1rem;
text-transform: uppercase;
}

.text-light {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}



/* ------- Product section ------/  */

.products {
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.products .text-light {
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

.product {
    margin: 2rem;
    position: relative;
}

.product-content {
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}

.product-img {
    background: var(--while-light);
    box-shadow: 0 0 20px 10px var(--while-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}


.btn-cart, .btn-buy {
    background: transparent;
    border: 1px solid black;
    padding: 0.8ren 0;
    width: 125px;
    font-family: inherit
    text-trasnform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}

.btn-cart {
    background: black;
    color: white;
}

.btn-cart:hover {
    background: var(--carribean-green);
}

.btn-buy {
    background: white;
}

.btn-buy:hover {
    background: var(--carribean-green);
    color: #fff;
}

.product-info {
    background: white:
    padding: 2rem;
}

.product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
padding-top: 0.6rem;
padding-right: 0.6rem;
display: inline-block;
}

.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}

.product-img img {
    transition: transform 0.6s ease;
}

.product:hover .product-img img {
    transform: scale(1.1);
}

.product:hover .product-img {
    background: var(--carribean-green);
}

.product:hover .product-btns {
    opacity: 1;
}

.off-info .sm-title {
    background: var(--carribean-green);
    color:white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* Media Queries  */

@media screen and (min-width: 992px) {
    .product-items{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .product-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .product {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light {
        width: 50%;
    }
}


@media screen and (min-width: 1336px){
    .product-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ------Results and page at bottom -----  */

.results-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B3C4D4;
    width: auto;
    height: 3rem;
    /* border: 2px solid orange; */
}

/* ----------Over footer ------------- */

.over-footer {
    width: auto;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #243143;
}

.h4-over-footer {
    margin: 20px;
    color: #B3C4D4;
}

.btn-over-footer {
    margin-right: 55px;
}



/* -----Footer----- */


.ul-footer {
    list-style: none;
}

.row-footer {
    width: auto;
    display: flex;
    /* border: 10px solid red; */
    justify-content: space-between;
    flex-wrap: wrap;
     
}

.li-footer {
    margin: 1em;
}

.li-footer a {
    color: black;
}

.footer-col h4 {
    margin-left: 15px;
    text-transform: uppercase;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 40px;
}